header *{
 margin: 0;
 padding: 0;
}
html, body { margin:0; padding:0; }
header
{
	display:  block;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
	background: linear-gradient(to top left, powderblue, pink);
 	box-shadow: 0 0 10px rgba(0,0,0,0.5); 
	margin: 0;
	width: 100%;
    padding: 0;
}

.header_solo
{
    width: 100%;
    height: 130px;
    padding: 0 0 0 0;
    max-width:  960px;
    margin: 0 auto 0 auto;
}


.text_header
{
    font-family: 'Arial', sans-serif;
    color:#DB7093;
    font-size: 350%;
}

#logo
{
    width: 90px;
    height: 80px;
    background: url(kotyra.png);
    float: left;
	margin-right: 50px;
}

#name {
    padding:  0 0 0 0;
    float:  left;
}

#name h1 {
    height:  100%;
    line-height: 60px;
    margin-top: 25px;
}
.menu{
    margin-top: 2em;
    list-style: none;
    text-align: center;
	
}

.menu li {
    display: inline-block;
	margin-right: 25px;
	
}


body{
    text-align: center;
    margin-bottom: 0;
    background: url(pexels-eberhard-grossgasteiger-2088169.jpg);
  
}
nav {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

nav ul {
    display: inline-block;
}

nav li {
    float:left;
}

ul{
    list-style: none;
    text-align:left;
}

ol{
    display:inline-table;
}

li{
    margin-bottom: 10px;
    text-align:left;
}

table{
    text-align: center;
    display: inline-block;
    border-spacing: 4px;
    width: 50%;
    border:5px;
	/*margin-left: 180px;*/
	
}

td{
    width:150px;
    height:50px;
}

tr:nth-child(odd)
{
    background: #FFB6C1;
    padding: 4px;
	color: rgb(51, 3, 63);
}

tr:nth-child(even)
{
    background: #BC8F8F;
    padding: 4px;
	color: rgb(51, 3, 63);
}
  
h1{color:#DB7093;}
h2{color:#DB7093;}

a{
    
    color: rgb(51, 3, 63);
    text-decoration: none;
}

.menu ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/
  margin-top:25px; /*делаем отступ сверху*/
}
.menu a {
  background:#F08080; /*добавляем фон к пункту меню*/
  color: white; /*меняем цвет ссылок*/
  padding:20px; /*добавляем отступ*/
  font-family: arial; /*меняем шрифт*/
  border-radius:6px; /*добавляем скругление*/
  -moz-transition: all 0.3s 0.1s ease; /*делаем плавный переход*/
  -o-transition: all 0.3s 0.1s ease;
  -webkit-transition: all 0.3s 0.1s ease;
}

.menu a:hover {
  background:#CD5C5C;/*добавляем эффект при наведении*/
}
.menu li {
  float:left; /*Размещаем список горизонтально для реализации меню*/
  margin-right:25px; /*Добавляем отступ у пунктов меню*/
  
}

.body_s{
   
    background: #FFE4E1; /* Цвет фона */
    width: 1000px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;  
    border: 6px solid #BC8F8F; /* Белая рамка */
    border-radius: 10px; /* Радиус скругления */
}
input[name=field]{
    background-color: #FFF0F5;
    color: rgb(51, 3, 63);
	width: 40%;
	margin: 15px 0;
	border-radius: 5px;
	border: none;
	font-size: 18px;
}
input[value] {
    
    color: #C0C0C0;
	
}
select
{
	background-color: #FFF0F5;
    color: rgb(51, 3, 63);
	width: 40%;
	margin: 15px 0;
	border-radius: 5px;
	border: none;
	font-size: 18px;
}
textarea
{
	background-color: #FFF0F5;
    color: rgb(51, 3, 63);
	width: 40%;
	margin: 15px 0;
	border-radius: 5px;
	border: none;
	font-size: 18px;
}
.button {
    background-color: #4d2d2d;
    border: none;
    color: white;
    padding: 4px 20px;
	border-radius: 8px;
	-webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button:hover {
    background-color: white; 
    
}
@media screen and (min-device-width: 426px) {
    .menu{
        width: 960px;
        margin: 0 auto;
        flex-direction: row;
    }
    .body_s{
        width: 960px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
	 .header_solo{
        width: 960px;
	}
   
  }